<!DOCTYPE html>
{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        {% for blog in blogs %}
            <article class="uk-article">
                <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
                <p class="uk-article-meta">发表于{{ blog.created_at|datetime}}</p>
                <p>{{ blog.summary }}</p>
                <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
            </article>
            <hr class="uk-article-divider">
        {% endfor %}
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">Links</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://docs.google.com/document/d/1YvLP2CL1c_vOqYVwtGphhqhR1JsvG2PeyCavaqF8ihk/edit?usp=sharing">My Resume</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://github.com/tianjiayang0711">My GitHub</a><li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.linkedin.com/in/jiayang-tian/">My Linkedin </a></li>    
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.kaggle.com/jiayangds">My Kaggle</a></li>
                
            </ul>
        </div>
    </div>

{% endblock %}